.about-us
  padding 3em 0 1em

  &__item
    margin-bottom 2em
    &:last-of-type
      margin-bottom 0

  .fix-width
    padding-left 1em
    padding-right 1em

  h1
    margin-bottom 0.5em

  h2
    margin-bottom 0.5em

  .vision
    margin-top 1em

  .quote
    background $color--brand
    margin 3em 0
    padding 3em 0
    p
      color white
      span
        color #93C0FF

  p
    margin-bottom 0.5em
