section.clients
  padding 3em 0 1em

  .fix-width
    padding-left 1em
    padding-right 1em

  h1
    margin-bottom 0.5em

  h2
    margin-bottom 0.5em

  .clients-list
    margin-left 0
    &::after
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0
    li
      width 50%
      float left

  .clients-logo
    display flex
    flex-wrap wrap
    justify-content center
    margin 6em auto 1em
    img
      margin 1.5em
