.fix-width
  width 960px
  margin auto

.column
  overflow auto
  .column__item
    float left
  .third
    width 33.3333%
  .half
    width 50%
  .two-third
    width 66.6666%

// 404 error
.error
  section
    padding 3em 1em
