.app-footer
  margin 5em 0 0
  background-color #EFEEF4
  font-size 1.4rem

  p, address, a, span
    color #66646F
    text-decoration none

  .column
    overflow auto
    .half
      width 50%
      float left
      padding 4em 1em
    .right
      text-align right

  address
    font-weight bold
    margin-bottom 1em

  .right
    img
      height 66px
      margin-bottom 1em
