pages = home, about, commitment, services, projects, clients, team, contact

.app-header
  padding 1.5em 0
  overflow auto
  border-bottom 1px solid #DDE2EA

  // logo
  &__link
    float left
    img
      width 74px
      height 74px
    span, img
      display inline-block
      vertical-align middle
    span
      font-family $font-alt
      font-size $font-base*1.5
      color $color--navy
      margin-left 1em

  // nav
  &__nav
    float right
    max-width 540px
    a
      font-weight bold
      float right
      padding 0.25em 1em
      text-decoration none
      font-family $font-alt
      font-size 1.75rem
      transition all 0.1s linear
      &.active
        background-color $color--blue
        color white
      &:hover
        background-color $color--pale-blue

    // active classes
    for page in pages
      &.{page}
        .{page}
          background-color $color--brand
          color white

