.homepage

  &__container
    overflow auto
    margin-top 2em
    &__item
      float left

  &__banner
    position relative
    overflow auto
    width 576px
    ul
      list-style none
      overflow auto
      margin 0
      li
        list-style none
        float left
        img
          vertical-align top
          width 576px

  &__text
    background-color #efeef4
    height 360px
    width 40%
    padding 2em 2.5em
    .text
      &__item
        margin 1em 0

  &__about
    padding 2em 0
    p, h2
      margin-bottom 1em
    .button
      margin-top 1em

