.app-nav
  display flex
  flex-direction row
  justify-content center
  border-radius 4px
  border 1px solid #37404f
  box-shadow inset 0px 1px 0px #79838f, 0 0 3px rgba(0,0,0,0.3)

  // gradient
  background #586273
  background -moz-linear-gradient(top,  #586273 0%, #2f3338 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#586273), color-stop(100%,#2f3338))
  background -webkit-linear-gradient(top,  #586273 0%,#2f3338 100%)
  background -o-linear-gradient(top,  #586273 0%,#2f3338 100%)
  background -ms-linear-gradient(top,  #586273 0%,#2f3338 100%)

  &__item, a:visited
    padding 0 30px
    line-height 44px
    font-size 1.6rem
    color #b9c2d3
    transition all 0.25s linear
    span
      color #B0B9CA
    &:last-child
      border-right none
    &:hover
      color #e9ecf1
      background #32353b url(../img/nav-hover.png) center -30px no-repeat
      text-decoration none
      font-weight bold
