section.projects
  padding 3em 0 1em

  .fix-width
    padding-left 1em
    padding-right 1em

  h1
    margin-bottom 0.5em

  h3
    margin-bottom 0.5em

  h3
    color $color--charcoal


  .project
    margin 2em auto
    padding-bottom 1em
    border-bottom 1px solid $color--grey-light
    &__images
      width 100%
      margin 2em auto
      display flex
      flex-direction row
      align-items space-between
      justify-content space-between
      img
        width 240px
        height 240px

