section.services
  padding 3em 0 1em

  .fix-width
    padding-left 1em
    padding-right 1em

  h1
    margin-bottom 0.5em

  h2
    margin-bottom 0.5em

  .services-list
    margin-left 0
    &::after
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0
    li
      width 50%
      float left

  aside
    background $color--brand
    margin 3em 0
    padding 3em 0
    p
      color white
      span
        color #93C0FF

  .barge__group--top
    margin-bottom 1em

  .barge
    padding-right 3em
    &__img
      display block
      margin-bottom 1em
      max-height 250px
    &__specs
      margin-top 0
  p
    margin-bottom 0.5em
