.our-team
  padding 3em 1em

  h1
    margin-bottom 1em

  ul
    overflow auto
    list-style none
    padding 0
    margin 0
    li
      width 50%
      float left
      margin-bottom 3em
      padding-right 3em
      list-style none
      &:nth-child(odd)
        clear left

  .person
    &__img
      width 225px
      height auto
      margin-bottom 1em
    &__title
      font-weight bold
      margin-bottom 1em
    &__about
      font-size 1.5rem
