extends ../layout

block title
  title About us - Atlantic Subsea

block content

  section.about-us
    .about-us__item.fix-width
      h1.h2 Providing in-depth solutions
      p
        | Atlantic Subsea is one of the largest marine infrastructure companies in the northeast United States.
        | We have pioneered the marine engineering field for several years. Our experience, expertise and knowledge
        | of the marine industry have led to technical and procedural innovations.
      h2.h3.vision Our vision
      p
        | Atlantic Subsea maintains a high standard of work ethics, safety and diligence.
        | It is assured that any project undertaken by us will be done in the most friendly,
        | cost effective and efficient manner.
    .about-us__item.fix-width
      h2.h3 Company profile
      p
        | Based in Bridgeport, New Jersey, we have direct access to major ports
        | and waterfront agencies on the eastern seaboard. Our people are proactive
        | and bright marine professionals looking forward to serving you and
        | providing customized solutions to your marine needs.
      p
        | We proudly share certain core values that create a sense of who we are
        | and what sets us apart from other companies. These values have improved our
        | service to clients and helped us to succeed in the global market.
      p
        | Our commitment to excellence has made us a leader in the marine field.
        | The firm"s knowledge and experience in underwater and marine engineering
        | are unsurpassed.
    .quote
      p.fix-width.h2
        span Mission statement -
        | To provide honest, technically advanced, cost effective marine services to the customer without compromising quality.
    .about-us__item.fix-width
      h2.h3 History
      p
        | Based in Bridgeport, New Jersey, we have direct access to major ports
        | and waterfront agencies on the eastern seaboard. Our people are proactive
        | and bright marine professionals looking forward to serving you and
        | providing customized solutions to your marine needs.
      p
        | We proudly share certain core values that create a sense of who we are
        | and what sets us apart from other companies. These values have improved our
        | service to clients and helped us to succeed in the global market.
    .about-us__item.fix-width
      h2.h3 Core values
      p
        | Our commitment to excellence has made us a leader in the marine field.
        | The firm"s knowledge and experience in underwater and marine engineering
        | are unsurpassed.
    .about-us__item.fix-width
      h2.h3 Success formula
      p
        | Based in Bridgeport, New Jersey, we have direct access to major ports
        | and waterfront agencies on the eastern seaboard. Our people are proactive
        | and bright marine professionals looking forward to serving you and
        | providing customized solutions to your marine needs.
