extends ../layout

block title
  title Clients - Atlantic Subsea

block content

  section.clients
    .clients__item.fix-width
      h1.h2 Clients

      ul.clients-list
        li Crowley Marine Services
        li Delaware State Department of Transportation
        li Entergy Corporation
        li Fisher’s Island Ferry District
        li Motiva/Premcor
        li New Jersey Highway Authority
        li New York State Department of Transportation
        li New York City Department of Transportation
        li New York City DEP
        li New Jersey Department of Transportation
        li Pennsylvania DCNR
        li Port Authority of New York and New Jersey
        li Public Service Enterprise Group
        li Reliant Energy
        li SEPTA
        li United States Coast Guard
        li United States Army Corps of Engineers
        li United States Navy, Philadelphia Navy Yard

    .clients__item.fix-width.clients-logo
      - i = 1
      while (i<=13)
        img.clients-logo__img(
          src='/static/img/clients-#{i}.png'
        )
        - i++
