extends ../layout

block title
  title Contact us - Atlantic Subsea

block content
  section#contact-info.contact-us.fix-width
    h1.h2 Contact details
    .column
      .column__item.two-third
        .column
          .column__item.third
            img(src='/static/img/location-nj.png', alt='location on an NJ state map')
          .column__item.two-third
            address
              | P.O. Box 714 <br>
              | 108 Ferry Road <br>
              | Bridgeport, NJ 08014-0714 <br>
              small
                a(href='http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Atlantic+Subsea,+Ferry+Road,+Bridgeport,+NJ&aq=0&sll=37.0625,-95.677068&sspn=46.812293,73.125&ie=UTF8&hq=Atlantic+Subsea,&hnear=Ferry+Rd,+Bridgeport,+Gloucester,+New+Jersey+08014&cid=10175330848563379555&ll=39.820271,-75.362949&spn=0.046146,0.080509&z=13&iwloc=A').
                  Map/Directions
            p Tel: (856) 241-3544
            p Fax: (856) 241-3545
            a(href='mailto:operations@atlanticsubsea.com').
              operations@atlanticsubsea.com

      .column__item.third
        form(name='contact_form', action='', method='post')
          label
            h2.h4 Name
            input(type='text', name='name', required)
          label
            h2.h4 Email
            input(type='email', name='email', required)
          label
            h2.h4 Organization
            input(type='text', name='organization')
          label
            h2.h4 Comments
            textarea(name='message')
          button.btn.btn-primary(type='submit').
            Send message
