extends ../layout

prepend scripts
  script(src='/static/vendor/unslider/src/unslider.min.js')

block content
  main.homepage

    .homepage__container.fix-width
      .homepage__banner.homepage__container__item
        ul
          for num in [1,2,3,4,5]
            li
              img(src='/static/img/banner--#{num}.jpg')
      .homepage__text.homepage__container__item.text
        h2.h3 Contact information

        address.text__item.
          P.O. Box 714 <br>
          Bridgeport, NJ 08014-0714

        a.text__item(href='mailto:operations@atlanticsubsea.com').
          operations@atlanticsubsea.com

        .text__item
          h3.h4
            | Phone 
            span.typcn.typcn-phone-outline
          p (856) 241 3544
          p (856) 241 3545 #[small (Fax)]

    .homepage__about.fix-width
      h1.h2 Atlantic Subsea, Inc.
      p.
        Atlantic Subsea is one of the premier marine services firms,
        specializing in underwater engineering and having the largest 
        complement of commercial divers.

      p.
        Since its founding in 1993, we at Atlantic Subsea have been 
        recognized as a leader in innovative marine and underwater technologies. 
        Our skills and resources are focused on serving our clients honestly, 
        ethically and efficiently.

      p
        | Our services include: 
        strong pile driving, 
        strong commercial diving, 
        strong dock building, 
        strong dredging, 
        | and 
        strong marine construction.

      p
        a.button(href='/about-us').
          Click here to learn more &rarr;
