extends ../layout

block title
  title Clients - Atlantic Subsea

block content

  section.projects
    .projects__item.fix-width
      h1.h2 Projects

    .projects__item.fix-width
      .project
        h2.h3.project__title Drydock No. 4 Cassion
        h3.h4.project__subtitle Aker Philadelphia Shipyard - March 2008
        .project__container.column
          .column__item
            p.project__text.
              In 2009, we were contracted by the DSPC to build a mooring dolphin to accommodate larger ships at the Auto Mooring Berth on the Delaware. The dolphin housed state of the art mooring winches to accommodate larger ships on this berth.
          .column__item.project__images
            img(src='/static/img/aker-1.jpeg')
            img(src='/static/img/aker-2.jpeg')
            img(src='/static/img/aker-3.jpeg')

      .project
        h2.h3.project__title Autoberth Mooring Dolphin
        h3.h4.project__subtitle Diamond State Port Corp. - 2009
        .project__container.column
          .column__item
            p.project__text.
              In 2009, we were contracted by the DSPC to build a mooring dolphin to accommodate larger ships at the Auto Mooring Berth on the Delaware. The dolphin housed state of the art mooring winches to accommodate larger ships on this berth.
            .column__item.project__images
              img(src='/static/img/dspc-1.jpeg')
              img(src='/static/img/dspc-2.jpeg')
              img(src='/static/img/dspc-3.jpeg')

      .project
        h2.h3.project__title Lafarge Buchanan FGD Conversion
        h3.h4.project__subtitle PCL Construction Services, Inc. - August 2009
        .project__container.column
          .column__item
            p.project__text.
              In the process of converting Lafarge’s gypsum plant to fly-ash, their marine terminal at Buchanan had to be upgraded to receive bigger ships. In the process of upgrading the marine structures we constructed a crane pier and 3 new mooring dolphins. We also repaired existing structures by underpinned piles. We also transported, installed and assembled a 200 ton crane from Rotterdam on the newly constructed Unloading platform.
            .column__item.project__images
              img(src='/static/img/pcsi-1.jpeg')
              img(src='/static/img/pcsi-2.jpeg')
              img(src='/static/img/pcsi-3.jpeg')
