extends ../layout

block title
  title Services & Barges - Atlantic Subsea

block content

  section.services
    .services__item.fix-width
      h1.h2 Areas of expertise
      ul.services-list
        li
          | Underwater and Marine Engineering
        li
          | Marine Infrastructure Services
        li
          | Power Plant (Nuclear and Fossil Fuel) Maintenance
        li
          | Bridge and Dam Rehabilitation
        li
          | Marine and Subsea Foundations
        li
          | Underwater Mapping and Hydrographic Surveys
        li
          | Intake Structure Maintenance and Rehabilitation
        li
          | Deep Sea Diving and Salvage
        li
          | River and Stream-bank Stabilization
        li
          | Pile Driving
        li
          | Dredging and Desilting
    aside
      p.fix-width.h2
        span Barges -
        | We have a well-equipped fleet of four crane barges ranging from 100-200
        | tons in operating capacity. This, combined with the rest of our marine
        | construction equipment enables us to match any project handling needs.
    .services__item.fix-width.column.barge__group.barge__group--top
      .column__item.half.barge
        h2.barge__title.h3 C.B. Lehigh
        img.barge__img(src='/static/img/barge--lehigh.jpg', alt='Photo of C.B. Lehigh')
        p.barge__about All welded deck barge with raked bow and stern.
        ul.barge__specs
          li
            | Capacity: 100 tons
          li
            | 165 ft x 36 ft x 12 ft
          li
            | 130 ft boom, 3 spuds
          li
            | Crane: Manitowoc 3900 W - Deck mounted
      .column__item.half.barge
        h2.barge__title.h3 C.B. Rancocas
        img.barge__img(src='/static/img/barge--rancocas.jpg', alt='Photo of C.B. Rancocas')
        p.barge__about All welded deck barge with raked bow and stern.
        ul.barge__specs
          li
            | Capacity: 200 tons
          li
            | 215 ft x 39.9 ft x 14 ft
          li
            | 170 ft boom, 2 spuds
          li
            | Crane: American 9520 - Deck mounted
    .services__item.fix-width.column.barge__group
      .column__item.half.barge
        h2.barge__title.h3 C.B. Tioga
        img.barge__img(src='/static/img/barge--tioga.jpg', alt='Photo of C.B. Tioga')
        p.barge__about All welded deck barge with raked bow and stern.
        ul.barge__specs
          li
            | Capacity: 150 tons
          li
            | 200 ft x 38 ft x 11.4 ft
          li
            | 150 ft boom, GRT: 708
          li
            | Crane: Manitowoc 4000W Vicon Welded to Deck
      .column__item.half.barge
        h2.barge__title.h3 C.B. Hackensack
        img.barge__img(src='/static/img/barge--hackensack.jpg', alt='Photo of C.B. Hackensack')
        p.barge__about All welded deck barge with raked bow and stern.
        ul.barge__specs
          li
            | Capacity: 200 tons
          li
            | 236 ft x 50 ft x 14.7 ft
          li
            | 170 ft boom, 2 spuds
          li
            | Crane: American 9520 - Deck mounted
