extends ../layout

block title
  title Our team - Atlantic Subsea

mixin showPerson(person)
  li.our-team__list__person.person
    img.person__item.person__img(
      alt='Photo of #{person.name}',
      src='/static/img/team/#{person.img}'
    )
    h2.person__item.person__name.h3 #{person.name}
    p.person__title #{person.title}
    p.person__about #{person.about}

block content
  section.our-team.fix-width
    h1.h2 Our team
    ul.our-team__list
      for person in team
        +showPerson(person)
