extends ../layout

block title
  title Add team member

block content

  .fix-width
    h1 Add a new team member

    form(action='/team', method='post')
      label
        h4 Order
        input(name='order', type='text', value=team.length+1)
      label
        h4 Name
        input(name='name', type='text')
      label
        h4 Title
        input(name='title', type='text')
      label
        h4 About
        textarea(name='about')
      label
        h4 Image file
        input(name='img', type='text')

      button.button.button--primary(type='submit').
        Save
