doctype html
html.no-js(lang='en')

  head
    //- meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='Bridgeport, NJ - A premier marine services company specializing in underwater engineering.')
    meta(name='keywords', content='pile driving, diving, dock building, dredging, marine construction, south jersey pile driving, commercial diving, south jersey, new jersey, new york, pennsylvania, delaware')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //- title
    block title
      title Atlantic Subsea

    //- css
    link(rel='icon', href='/static/img/favicon.png')
    link(rel='stylesheet', href='/static/css/normalize.min.css')
    link(rel='stylesheet', href='/static/vendor/typicons/src/font/typicons.min.css')
    link(rel='stylesheet', href='/static/css/index.css')

  body

    header.app-header
      .fix-width
        a.app-header__link(href='/')
          img(src='/static/img/atlantic-subsea-logo.svg', alt='Atlantic Subsea, Inc. logo')
          span Atlantic Subsea

        nav.app-header__nav(class=route)
          a.app-header__nav__item.services(href='/services') Services &amp; Barges
          a.app-header__nav__item.commitment(href='/our-commitment') Our commitment
          a.app-header__nav__item.about(href='/about-us') About us
          a.app-header__nav__item.home(href='/')
            span.typcn.typcn-home
          a.app-header__nav__item.contact(href='/contact-us') Contact us
          a.app-header__nav__item.team(href='/our-team') Our team
          a.app-header__nav__item.clients(href='/clients') Clients
          a.app-header__nav__item.projects(href='/projects') Projects

    block content

    footer.app-footer
      .fix-width.column
        .half
          address.
            P.O. Box 714 <br>
            108 Ferry Road <br>
            Bridgeport, NJ 08014-0714
          p (856) 241-3544
          p operations@atlanticsubsea.com
        .half.right
          img(src='/static/img/atlantic-subsea-logo--white.svg', alt='Atlantic Subsea, Inc. logo')
          p
            strong Atlantic Subsea, Inc.
          p &copy; #{new Date().getFullYear()}

    //- js
    script(src='/static/vendor/jquery/dist/jquery.min.js')
    block scripts
      script(src='/static/dist/index.js')
      script.
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-22132671-1','auto');ga('send','pageview');
