*, *:after, *:before
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

html
  font-size 62.5%
  height 100%

body
  height 100%
  font $font-base/$line-height-base $font-sans
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  color #333

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  font-family $font-alt
  color $color--navy

h1, .h1,
h2, .h2,
h3, .h3
  line-height $line-height-tight

h1, .h1
  font-size $font-heading-one

h2, .h2
  font-size $font-heading-two

h3, .h3
  font-size $font-heading-three

h4, .h4
  font-size $font-heading-four

h5, .h5
  font-size $font-heading-five

h6, .h6
  font-size $font-heading-six

small
  font-size $font-small

a, a:visited
  cursor pointer
  color $color--blue
  text-decoration none
a:hover
  text-decoration underline

.cf
  &:before,
  &:after
    content " "
    display table

  &:after
    clear both

.pull-left
  float left

.pull-right
  float right

img, video, iframe
  max-width 100%

strong
  font-weight bold

em
  font-style italic
