@font-face
  font-family 'theinhardt-medium'
  src url('../font/theinhardt-medium.eot')
  src url('../font/theinhardt-medium.eot?#iefix') format('embedded-opentype'),
    url('../font/theinhardt-medium.woff') format('woff'),
    url('../font/theinhardt-medium.ttf') format('truetype'),
    url('../font/theinhardt-medium.otf') format('opentype'),
    url('../font/theinhardt-medium.svg#theinhardt-medium') format('svg')
  font-weight 500
  font-style normal
  font-stretch normal
  unicode-range U+0020-FB02

@font-face
  font-family 'theinhardt-bold'
  src url('../font/theinhardt-bold.eot')
  src url('../font/theinhardt-bold.eot?#iefix') format('embedded-opentype'),
    url('../font/theinhardt-bold.woff') format('woff'),
    url('../font/theinhardt-bold.ttf') format('truetype'),
    url('../font/theinhardt-bold.otf') format('opentype'),
    url('../font/theinhardt-bold.svg#theinhardt-bold') format('svg')
  font-weight 700
  font-style normal
  font-stretch normal
  unicode-range U+0020-FB02
