form

  legend, fieldset
    border none

  legend
    display block
    width 100%

  fieldset
    padding 0
    margin 0

  label
    display block

  input[type=text], input[type=email],
  input[type=password], input[type=search],
  input[type=date], input[type=url],
  input[type=file], textarea
    -webkit-appearance none
    -moz-appearance none
    appearance none

  input[type=text], input[type=email],
  input[type=password], input[type=search],
  input[type=date], input[type=url],
  input[type=file], textarea, select,
  input[type=checkbox], input[type=radio]
    width 100%
    height 40px
    padding 6px 10px
    font-size $font-base
    line-height inherit
    background-color white
    border 1px solid #bbb
    border-radius 4px

    &:focus
      outline none
      border-color $color--blue

    &:disabled
      cursor not-allowed

  textarea
    resize none

  input[type=checkbox], input[type=radio]
    display inline-block
