.tabs
  display table
  border-bottom 1px solid $color--blue
  border-collapse collapse
  margin-bottom 1em

  &__item
    display table-cell
    height 40px
    margin-right 0.5em
    padding 0 30px
    line-height 38px
    font-size $font-base
    font-weight 500
    text-align center
    text-decoration none !important
    white-space nowrap
    cursor pointer
    color $color--blue
    background-color transparent
    border 1px solid $transparent
    border-radius 4px

    &:hover
      background-color $color--grey-light

    &.active
      border 1px solid $color--blue
      border-bottom 1px solid white
      background-color white

    .icon
      margin-right 0.5em
      margin-left -0.5em
